html,body {
	width: 100%;
	height: 100%;
	background: white;
}
		/*====about_us公司介绍*/
		.about_us {
			position: relative;
			width: 100%;
			height: 800px;
			background: url(../images/aboutus.png) no-repeat;
			background-size: 100%;
		}
			.about_con {
				position: inherit;
				top: 50px;
				width: 1250px;
				height: 700px;
			}
				.leftyh {
					position: absolute;
					top: 100px;
				}
				.rightyh {
					position: absolute;
					bottom: 380px;
					right: 0;
				}
				.about_con_title {
					font-size: 32px;
					font-weight: bold;
					text-align: center;
				}
				.about_con_infro {
					padding-top: 5px; 
					text-align: center;
					font-size: 18px;
				}
				.about_font {
					height: 155px;
					width: 90%;
					margin-top: 60px;
					color: #666666;
					font-size: 17px;
				}
					.about_font p {
						display: inline-block;
						text-indent: 30px;
						line-height: 26px;
					} 
		/*===轮播=====*/
		.lunbo {
			position: relative;
			top: 114px;
			height: 300px;
			width: 100%;
			background: url(../images/lunbo1.jpg) no-repeat center;
			background-size: 100%;
		}
			.lun_list {
				position: absolute;
				bottom: 3px;
				right: 160px;
				width: 170px;
				height: 20px;
			}
				.lun_list ul li {
					float: left;
					margin-left: 15px;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background: white;
				} 
				.lun_list ul li:hover {
					cursor: pointer;
				}
			.lun_list .foucus_list {
				background: #2E93D6;
			}
		/*culture公司文化*/
		.culture {
			position: relative;
			top: 50px;
			width: 100%;
			height: 660px;
			background: #F4F4F4;
		}
			.culture_con {
				position: inherit;
				top: 70px;
				width: 1250px;
				height: 520px;
			}
				.culture_pic {
					position: inherit;
					top: 50px;
					width: 100%;
					height: 380px;
				}
					.culture_pic ul li {
						float: left;
						width: 33.33%;
						text-align: center;
					}
					.culture_pic ul li span {
						display: inline-block;
						margin-top: 20px;
						font-size: 22px;
					}
					.c_p_font {
						margin-top: 40px;
						width: 75%;
						text-align: left;
						color: #666666;
						line-height: 26px;
						font-size: 17px;
					}
		/*life悦世界生活*/
		.life {
			position: relative;
			width: 100%;
			height: 950px;
			background: url(../images/life.jpg) no-repeat center;
			background-size: auto 100%; 
		}
			.life_con {
				position: inherit;
				top: 80px;
				width: 1250px;
				height: 830px;
			}
			.lift_pic {
				position: inherit;
				top: 60px;
				width: 100%;
				height: 270px;
			}
				.lift_pic ul {
					width: 100%;
					height: 100%;
				}
					.lift_pic ul li {
						float: left;
						position: relative;
						left: 8px;
						width: 16.666%;
						height: 100%;
						background: url(../images/lafitepic.jpg) no-repeat;
					}
						.lift_pic ul li p {
							margin-top: 10px;
							text-align: center;
							text-indent: -24px;
							color: #C89601;
							font-size: 18px;
						}
						.lift_pic ul li img {
							display: block;
							margin: 15px 45px;
						}
						.lift_pic ul li .li_pic2 {
							margin-top: 30px;
							margin-bottom: 25px;
						}
						.lift_pic ul li .li_pic3 {
							margin-left: 55px;
						}
						.lift_pic ul li .li_pic4 {
							margin-bottom: 30px;
							margin-top: 20px;
						}
						.lift_pic ul li .li_pic6 {
							margin-left: 60px;
							margin-bottom: 30px;
						}
						.l_p_title {
							margin-top: -20px;
							text-align: center;
							text-indent: -24px;
							color: #AF7C22;
							font-size: 20px;
							font-weight: bold;
						}
						.l_p_font {
							margin-top: 5px;
							margin-left: 30px;
							width: 65%;
							color: #818181;
							line-height: 24px;
							text-align: center;
						}
							.l_p_font span {
								font-weight: bold;
							}
			.life_gs_pic {
				position: relative;
				top: 180px;
				width: 100%;
				height: 250px;
			}
				.life_gs_pic_con {
					height: 100%;
					width: 958px;
					overflow: hidden;
				}
				.life_left,.life_right {
					position: absolute;
					top: 70px;
				}
				.life_left:hover,.life_right:hover {
					cursor: pointer;
				}
				.life_right {
					right: 0;
				}
		/*contact_us联系我们*/
		.contact_us {
			position: relative;
			width: 100%;
			height: 210px;
			background: #F0F0F0;
		}
			.contact_con {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 1250px;
				height: 170px;
			}
				.con_list {
					float: left;
				}
				.c_c_one {
					height: 100%;
					width: 170px;
				}
				.c_c_two {
					margin-top: 30px;
					margin-left: 160px;
					height: 80%;
					width: 450px;
				}
				.c_c_three {
					height: 100%;
					width: 220px;
					margin-left: 180px;
				}
				.con_list_title {
					font-size: 22px;
					font-weight: bold;
					color: #606060;
					padding-left: 15px;
					border-left: 3px solid #208CD4;
				}
				.c_l_wx {
					margin-top: 15px;
					height: 50px;
					width: 100%;
				}
					.wx_img {
						position: absolute;
						top: 25px;
						left: 140px;
						width: 5%;
						display: none;
					}
				.c_l_wx:hover {
					cursor: pointer;
				}
				.c_l_wx:hover .wx_img {
					display: block;
				}
					.c_l_wx img {
						float: left;
						margin-left: 20px;
						margin-top: 8px;
					}
					.wx_font {
						float: left;
						font-size: 14px;
						color: #111111;
						margin-left: 10px;
					}
				.c_l_wb {
					margin-top: 15px;
				}
					.c_l_wb .wx_font {
						margin-left: 14px;
					}
				.c_c_t_con {
					margin-top: 30px;
				}
					.c_c_t_con img {
						float: left;
						margin-right: 10px;
					}
					.c_mail {
						font-size: 14px;
						color: #111111;
						margin-left: 15px;
					}
				.c_c_address {
					margin-top: 40px;
				}
					.c_c_address img {
						margin-right: 17px;
					} 
				.c_c_three ul {
					line-height: 40px;
					height: 100%;
				}
				.c_c_three a {
					color: black;
				}
					.three_special_li {
						color: #3295D7;
						font-weight: bold;
					}
			@media screen and (max-width: 1250px){
				.culture,.life,.contact_us {
					width: 1250px;
				}
			}