html,body {
	width: 100%;
	height: 100%;
	background: white;
}
		/*===轮播=====*/
		.lunbanner {
			position: relative;
		}
		.lunbo {
			z-index: 3;
			position: relative;
			height: 550px;
			width: 100%;
			background: url(../images/banner1.jpg) no-repeat center;
			background-size: 100%;
		}
			.lun_list {
				z-index: 4;
				position: absolute;
				bottom: 30px;
				right: 100px;
				width: 170px;
				height: 20px;
			}
				.lun_list ul li {
					float: left;
					margin-left: 15px;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					background: white;
				} 
				.lun_list ul li:hover {
					cursor: pointer;
				}
			.lun_list .foucus_list {
				background: #2E93D6;
				width: 35px;
				border-radius: 90px;
			}
		/*轮播下的Nav*/
		.lun_nav {
			position: relative;
			top: 3px;
			width: 100%;
			height: 200px;
			background: url(../images/lunnav.jpg) no-repeat;
			background-size: 100%; 
		}
			.lun_nav .a1,.lun_nav .a3 {
				color: black;
			}
			.lun_nav .a2 {
				color: white;
			}
			.lun_nav ul {
				width: 100%;
				height: 100%;
			}
				.lun_nav ul li {
					float: left;
					width: 33.33%;
					height: 100%;
					text-align: center;
				}
					.lun_nav_title {
						font-weight: bold;
						margin-top: 20px;
						font-size: 1.2rem;
					}
					.lun_nav_infro {
						font-size: .9rem;
						margin-top: 5px;
						line-height: 24px;
					}
					.lun_nav_bottom {
						margin-top: 10px;
						color: #062C92;
					}
					.lun_nav ul li:nth-of-type(2) {
						color: white;
					}
		/*recomend热门推荐*/
		.recommend {
			position: relative;
			top: 30px;
			width: 1250px;
			height: auto;
			text-align: center;
		}
			.r_title {
				font-size: 32px;
			} 
			.r_infro {
				color: #307DE3;
			}
			.r_pic {
				margin-top: 30px;
				width: 100%;
				height: 460px;
			}
				.r_pic div {
					position: relative;
					float: left;
					width: 395px;
					margin-right: 10px;
				}
				.r_pic div:hover {
					cursor: pointer;
				}
				.feng_pic {
					height: 100%;
					background: url(../images/fengpic.jpg) no-repeat;
					background-size: 100%; 
					-webkit-transition: .2s; 
					transition: .2s;
				}
				.feng_pic:hover {
					background-size: 105%; 
				}
				.feng_pic:hover .r_c_cover {
					display: block;
				}
					.r_c_cover {
						position: absolute;
						width: 100%;
						height: 100%;
						background: rgba(13,13,13,.5);
						display: none;
					}
				.find_pic {
					margin-bottom: 10px;
					height: 225px;
					background: url(../images/findpic.jpg) no-repeat;
					background-size: 100%; 
					-webkit-transition: .3s; 
					transition: .3s;
				}
				.find_pic:hover {
					background-size: 105%; 
				}
				.find_pic:hover .r_c_cover {
					display: block;
				}
				.glod_pic {
					margin-bottom: 10px;
					height: 225px;
					background: url(../images/glodpic.jpg) no-repeat;
					background-size: 100%; 
					-webkit-transition: .3s; 
					transition: .3s;
				}
				.glod_pic:hover {
					background-size: 105%; 
				}
				.glod_pic:hover .r_c_cover {
					display: block;
				}
				.warm_pic {
					height: 225px;
					background: url(../images/warmpic.jpg) no-repeat;
					background-size: 100%; 
					-webkit-transition: .3s; 
					transition: .3s;
				}
					.r_c_c_title {
						margin-top:30px;
						color: white;
						font-size: 20px;
						line-height: 30px;
					}
					.r_c_line {
						display: inline-block;
						height: 3px;
						width: 60px;
						background: rgba(229,227,227,.7);
					}
					.r_c_c_font {
						margin-top:15px;
						color: white;
					}
					.r_c_c_btn {
						margin-top: 15px;
					}
					.r_c_c_title_one {
						margin-top: 100px;
						color: white;
						font-size: 20px;
						line-height: 30px;
					}
					.r_c_line_one {
						margin-top: 20px;
						display: inline-block;
						height: 3px;
						width: 60px;
						background: rgba(229,227,227,.7);
					} 
					.r_c_c_font_one {
						margin-top:30px;
						color: white;
					}
					.r_c_c_btn_one {
						margin-top: 30px;
					}
				.warm_pic:hover {
					background-size: 105%; 
				}
				.warm_pic:hover .r_c_cover {
					display: block;
				}
				.light_pic {
					height: 225px;
					background: url(../images/lightpic.jpg) no-repeat;
					background-size: 100%; 
					-webkit-transition: .3s; 
					transition: .3s;
				}
				.light_pic:hover {
					background-size: 105%; 
				}
				.light_pic:hover .r_c_cover {
					display: block;
				}
		/*brang_video品牌视频*/
		.brang_video {
			position: relative;
			/*top: 90px;*/
			width: 1250px;
			height: 950px;
			text-align: center;
		} 
			.brang_video .r_title {
				margin-top: 100px;
			}
			.b_content {
				margin-top: 30px;
				width: 100%;
				height: 740px; 
			}
				.b_content_infro {
					float: left;
					width: 50%;
					height: 375px;
				}
				.b_content_infro:nth-of-type(1) {
					position: relative;
					background: url(../images/video1.jpg) no-repeat;
					background-size: 100%;
					-webkit-transition: .5s;
					transition: .5s;
				}
					.b_con_cover {
						position: absolute;
						width: 100%;
						height: 100%;
						background: rgba(116,116,116,.3);
						display: none;
					}
						.video_play,.video_play2 {
							display: inline-block;
							position: inherit;
							left: 0;
							right: 0;
							top: 40%;
						}
					.play_video,.play_video2 {
						position: absolute;
						width: 100%;
						height: 100%;
						background: white;
						display: none;
					}
				.b_content_infro:nth-of-type(4) {
					position: relative;
					background: url(../images/video2.jpg) no-repeat;
					background-size: 100%;
					-webkit-transition: .5s;
					transition: .5s;
				}
				.b_content_infro:nth-of-type(1):hover .b_con_cover {
					display: block;
				}
				.b_content_infro:nth-of-type(4):hover .b_con_cover {
					display: block;
				}
				.b_content_infro:nth-of-type(1):hover,.b_content_infro:nth-of-type(4):hover {
					cursor: pointer;
					background-size: 105%;
				}
					.b_c_infro_t {
						margin-top: 30px;
						font-size: 40px;
						color: #2E93D6;
						text-align: left;
						text-indent: 30px;
					}
					.b_c_infro_con {
						text-align: left;
						width: 90%;
						color: #666666;
						margin-top: 20px;
						font-size: 17.5px;
					}
					.b_c_btn {
						margin-top: 40px;
						text-align: left;
						text-indent: 30px;
					}
					.b_c_t2 {
						text-indent: 0;
						margin-left: 0;
					}
		/*contact_us联系我们*/
		.contact_us {
			position: relative;
			/*top: 160px;*/
			width: 100%;
			height: 210px;
			background: #F0F0F0;
		}
			.contact_con {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 1250px;
				height: 170px;
			}
				.con_list {
					float: left;
				}
				.c_c_one {
					height: 100%;
					width: 170px;
				}
				.c_c_two {
					margin-top: 30px;
					margin-left: 160px;
					height: 80%;
					width: 450px;
				}
				.c_c_three {
					height: 100%;
					width: 360px;
					margin-left: 100px;
				}
				.con_list_title {
					font-size: 22px;
					font-weight: bold;
					color: #606060;
					padding-left: 15px;
					border-left: 3px solid #208CD4;
				}
				.c_l_wx {
					margin-top: 15px;
					height: 50px;
					width: 100%;
				}
					.wx_img {
						position: absolute;
						top: 25px;
						left: 140px;
						width: 5%;
						display: none;
					}
				.c_l_wx:hover {
					cursor: pointer;
				}
				.c_l_wx:hover .wx_img {
					display: block;
				}
					.c_l_wx img {
						float: left;
						margin-left: 20px;
						margin-top: 8px;
					}
					.wx_font {
						float: left;
						font-size: 14px;
						color: #111111;
						margin-left: 10px;
					}
				.c_l_wb {
					margin-top: 15px;
				}
					.c_l_wb .wx_font {
						margin-left: 14px;
					}
				.c_c_t_con {
					margin-top: 30px;
				}
					.c_c_t_con img {
						float: left;
						margin-right: 10px;
					}
					.c_mail {
						font-size: 14px;
						color: #111111;
						margin-left: 15px;
					}
				.c_c_address {
					margin-top: 40px;
				}
					.c_c_address img {
						margin-right: 17px;
					} 
				.c_c_three ul {
					line-height: 40px;
					height: 100%;
				}
				.c_c_three a {
					color: black;
				}
					.three_special_li {
						color: #3295D7;
						font-weight: bold;
					}
		@media screen and (max-width: 1250px){
			.lunbo,.lun_nav,.contact_us {
				width: 1250px;
			}
		}